
<html>
  <head>
    <title>ゴハン食べたい</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>ゴハンタベタイ</h1>
      <h2>   ホーム</h2>
      <div class="header-list">
      <ul>
        <li><%= link_to "ホーム", tweets_path %></li>
        <li><%= link_to "新規投稿",tweets_new_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "マイページへ", user_path(current_user.id) %></li>
        <% end %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
     <p>Copyright © ゴハンタベタイ作成委員会 All Rights Reserved.</p>
    </footer>
  </body>
</html>
